{% extends "app/layout.html" %}

{% block content %}

<div style="margin: 20px 0">
    <div style="font-size: 28px; color: #75b061; font-weight: 600; margin-bottom: 30px;">
        Партнеры
    </div>
    <div style="font-size: 16px;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/ikea.jpg" alt="IKEA" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.ikea.com/" >IKEA</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/leroylogo.png" alt="Леруа Мерлен" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.leroymerlin.ru/">Леруа Мерлен</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/castlogo.jpeg" alt="Касторама" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.castorama.ru/">Касторама</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/homeprologo.png" alt="ХоумПро" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.homepro.ru/">ХоумПро</a>
        </div>
    </div>
</div>

{% endblock %}